body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0 ;
}



h2,p,h1 {
    font-weight: 300;
    color: #fff;
}


                /* HEADER */
header {
    background: #012D63;
}

.header-container {
    outline: dashed red;
    width: 1110px;
    margin: auto;
    display: flex;
    align-items: center;
    
}

.logo {
    width: 100px;
    height: 60px;
}

.menu {
    display: flex;
}

.menu-link {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #C7C7C7;
    text-decoration: none;

}

.menu-link:hover{
    color: #fff;
}

.switch {
    display: flex;
}

.switch-link {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #C7C7C7;
    text-decoration: none;

}

.switch-link:hover{
    color: #fff;
}

.logo2 {
    width: 160px;
    height: 120px;
}


.logo-text{
    font-family: 'PT Serif';
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}

.tittle {
    font-family: 'Playfair Display';
    font-size: 144px;
    line-height: 192px;
    color: #FFFFFF;

}


            /* MAIN */
.main-container {
    width: 1110px;
    margin: auto;
    outline: dashed red;
}

.cap {
    background-color: #011563;
    padding: 0px 0px 286px 0px ;
}

.cap-subtitle {
    font-family: 'Playfair Display';
    font-size: 72px;
    line-height: 96px;
    color: #FFFFFF;

}

.cap-discription{
    width: 508px;
    height: 84px;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.buy-now{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #8E32C6;
    border-radius: 10px;
    border: #8E32C6;
    width: 254px;
    height: 67px;
}

.cards-list {
    display: flex;
    justify-content: center;
    border: 5px solid #8E32C6;
}


.card-title{
    font-family: 'Playfair Display';
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;

}


.cards {
    padding: 105px 0px 80px 0px;
    background-color: #8E32C6;
}

.card1-img,.card2-img,.card3-img {
    width: 240px;
    height: 240px;
}

.Reviews {
    padding: 37px 0px 67px 0px;
    background-color: #021635;
}

.tittle-rev {
    font-family: 'Playfair Display';
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;

}

.reviews-list{
    display: flex;
   justify-content: center;

}

.card1-rev{
    background: url(./img/fone1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 255px;
    height: 292px;
    margin-left: 0px;
}

.card2-rev{
    background: url(./img/fone2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 255px;
    height: 292px;
    margin-left: 100px;
}

.card3-rev{
    background: url(./img/fone3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 255px;
    height: 292px;
    margin-left: 100px;
}

.cardrev-discription{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
  
}


.card-container{
    padding-top: 45px ;
    padding-left: 15px;
}


.cardrev-text {
    font-size: 14px;
    line-height: 16px;
    color: #D8D8D8;
    
}

.cardrev-title{
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    
}

.cerdrev-discp {
    font-size: 12px;
    line-height: 14px;
    color: #D8D8D8;
}

.form-input1{
    width: 690px;
    height: 40px;
    border-radius: 50px ;
    border: solid #fff;
    outline: none;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 33px;
    color: #959595;

}

.form-input{
    width: 580px;
    height: 40px;
    border-radius: 50px ;
    margin-top: 20px;
    border: #fff;
    outline: none;
    font-size: 28px;
    line-height: 33px;
    color: #959595;

}

.form-order {
    padding: 20px 0px 38px 0px;
    background-color: #8E32C6;
}

.order-button {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #8E32C6;
    border-radius: 10px;
    border: #8E32C6;
    width: 254px;
    height: 67px;
    margin-top: 60px;
    
}

.form-title {
    font-family: 'Playfair Display';
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
}


                        /* FOOTER */
.footer-container {
    width: 1110px;
    margin: auto;
    outline: dashed red;
}

footer {
    padding: 45px 0px 50px 0px;
    background-color: #021635;
}


.question {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer-info{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer-line {
    margin: auto;
    background-color: #9B9B9B ;
    height: 2px;
    width: 1110px;
}


